<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      
      <source name="myTraceSource" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="rollingfile"/>
          <add name="myListener" type="System.Diagnostics.EventLogTraceListener" initializeData="myTraceSource"/> <!--myTraceSource - Change here too-->
        </listeners>
      </source>

      <source name="Example.RollingFile.Source" switchValue="All">
        <!--
          Add listener to source. Use named switches for multiple sources; switch values can be names, decimal, or hexadecimal.
        -->
        <listeners>
          <clear/>
          <add name="rollingfile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!--<add name="mySwitch" value="Error/Verbose/Warning/All" />-->
      <add name="SourceSwitch" value="All"/>
    </switches>
    <sharedListeners>
      <!--*** Write to daily rollover log files.-->
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics.RollingFileTraceListener" initializeData="D:\Shiv\TraceLogs\{ApplicationName}-{DateTime:yyyy-MM-dd}.log" convertWriteToEvent="true"></add>
    </sharedListeners>
    <!--This will handle Debug and Trace output.-->
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="rollingfile"/>
        <clear/>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
